<!DOCTYPE html>
<html lang="en">
<head>
    <title>Walter Michelin</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
</head>

<body ng-app="myApp" layout="row" ng-controller="AppController" class="ng-cloak">
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">
            <span>{{title}}</span>
        </h1>
        <md-button ng-click="closeSideBar()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>
    </md-toolbar>
</md-sidenav>
<md-content class="main-content" flex layout="column">
    <md-toolbar hide-gt-md>
        <div class="md-toolbar-tools">
            <md-button ng-click="openSideBar()" class="md-icon-button">
                <md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>{{title}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-content class="transparent">
        <div class="content-wrapper" ng-class="{small: lessThanMedium}" >
            <!--content -->
            <div ui-view></div>
        </div>
    </md-content>

</md-content>


<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script type="text/javascript">
    angular
            .module('myApp', ['ngMaterial', 'ui.router'])
            .config(function ($mdThemingProvider) {

                $mdThemingProvider.theme('default')
                        .primaryPalette('blue-grey')
                        .accentPalette('blue');

            });

</script>

<script type="text/javascript" src="./src/app/AppController.js"></script>
<script type="text/javascript" src="./src/home/HomeController.js"></script>
<script type="text/javascript" src="./src/DataService.js"></script>
<script type="text/javascript" src="./src/routeProvider.js"></script>


</body>
</html>
